<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">
    <title>Nico-Vue</title>
</head>
<body>
    <div id="app" class="container m-3 mt-4">
        <principal></principal>

        <h2>{{subtitulo}}</h2>
        <div class="row">
            <div class="col-6">
                <input type="text" placeholder="Product Name" class="form-control" v-model="nuevaFrutaNombre" @keyup.enter="agregarFruta">
            </div>
            <div class="col-2">
                <input type="number" class="col-sm form-control" v-model.number="nuevaFrutaCantidad" @keyup.enter="agregarFruta">
            </div>
            <!-- <button v-on:click="agregarFruta">Agregar</button> -->
            <div class="col-2"><button class="btn btn-primary" @click="agregarFruta">Agregar</button></div>
        </div>
        <ul class="container mt-2">
            <li class="row no-gutters my-1" v-for="fruta of frutas">
                <div class="col-2">
                    <input type="number" class="form-control" v-model.number="fruta.cantidad">
                </div>
                <div class="col-2">
                    <!-- <button class="btn btn-secondary" @click="fruta.cantidad++">+</button> -->
                    <button class="btn btn-secondary" @click="fruta.cantidad=validarCantidad(fruta.cantidad, true)">+</button>
                    <button class="btn btn-secondary" @click="fruta.cantidad=validarCantidad(fruta.cantidad, false)">-</button>
                </div>
                <div class="col-6">
                    --- {{fruta.nombre}}
                    <span v-if="fruta.cantidad == 0">(Sin Stock)</span>
                </div>
            </li>
        </ul>
        <h4>TOTAL: {{sumarFrutas}}</h4>
        <hr>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="components/principal.js"></script>
    <script src="scripts/shop.js"></script>
</body>
</html>
